#! /bin/sh

###
### example "qiv-command" file for key 1-3
### this file will be launched by QIV if you push 0-9
### just put it in a directory that is in your path
###
### syntax: qiv-command [pushed_number] [image_filename_with_full_path]
###


case "$1" in

    1)
	# do something with the image ($2) -> 
	# cp "$2" "/home/myfiles/download/";
	echo -ne "$0: 1 was pushed... \n\n";
	
    ;;


    2)
	echo -ne "$0: 2 was pushed... \n\n";
    ;;


    3)
	echo -ne "$0: 3 was pushed... \n\n";
    ;;

    *)
    echo "Usage: $0 [1-3]"
    exit 1
esac


exit 0
