#!/usr/bin/make -f

include /usr/share/cdbs/1/class/makefile.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

update-config::
	[ -f qiv-command ] || mv qiv-command.example qiv-command

install/qiv::
	mv qiv therealqiv

reverse-config::
	[ ! -f qiv-command ] || mv qiv-command qiv-command.example

clean::
	rm -f qiv therealqiv xmalloc.o
